.idea
~
**/*.exe
**/*.o
~./0x18-dynamic_libraries/*.o
*.exe
/0x13-more_singly_linked_lists/101-main.c
/0x13-more_singly_linked_lists/100-reverse_listint.c
/0x12-singly_linked_lists/101-hello_holberton.asm
/0x13-more_singly_linked_lists/101-print_listint_safe.c
/0x13-more_singly_linked_lists/102-free_listint_safe.c
/0x13-more_singly_linked_lists/102-main.c
/0x13-more_singly_linked_lists/103-find_loop.c
/0x13-more_singly_linked_lists/_putchar.c
